<div class="panel panel-default login-panel">
    <div class="panel-heading">Авторизация</div>
		<div class="panel-body">
      <%= form_for(:session, url: login_path, class: "form-group") do |f| %>
        <%= f.email_field :email, :placeholder => "Email", class: "form-control" %>
				<br>
        <%= f.password_field :password, :placeholder => "Password", class: "form-control" %>
				<br>
        <%= f.submit "Войти", class: "btn btn-primary" %>
      <% end %>
    </div>
    <%= link_to "Зарегистрироваться", signup_path, class: "btn btn-info register-button" %>
</div>
