<div class="panel panel-default register-panel">

    <h1>Регистрация</h1>
    <br>
    <%= form_for(@user) do |f| %>
      <div class="form-group">
        <%= f.text_field :name, :placeholder => "Логин", class: "form-control textbox" %>
      </div>
      <div class="form-group">
        <%= f.email_field :email, :placeholder => "EMail", class: "form-control textbox" %>
      </div>
      <div class="form-group">
        <%= f.password_field :password, :placeholder => "Пароль", class: "form-control textbox" %>
      </div>
      <%= f.submit "Зарегистрироваться", class: "btn btn-primary" %>
    <% end %>
  </div>
