<%= form_for(@missing_request) do |f| %>
  <% if @missing_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@missing_request.errors.count, "error") %> prohibited this missing_request from being saved:</h2>

      <ul>
      <% @missing_request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <label>Текст:</label>
    <%= f.text_field :text, class: "form-control textbox" %>
  </div>

  <div class="field">
    <label>Комментарий:</label>
    <%= f.text_field :comment, class: "form-control textbox" %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit "Редактировать", :class => "btn btn-primary" %>
  </div>
  <br>
<% end %>
