<div class="panel panel-default">
  <h1>Редактировать</h1>
  <%= render 'form' %>
  <%= link_to 'Просмотреть', @missing_request, class: "btn btn-info" %>
  <%= link_to 'Назад', missing_requests_path, class: "btn btn-info back-button" %>
</div>
