<div class="panel panel-default">
  <p id="notice"><%= notice %></p>
  <h1>Запросы о пропаже</h1>
  <br>
  <table class="table table-inverse">
    <thead>
      <tr>
        <th>Текст</th>
        <th>Комментарий</th>
        <th>Статус</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @missing_requests.each do |missing_request| %>
        <tr>
          <td><%= missing_request.text %></td>
          <td><%= missing_request.comment %></td>
          <td>
            <% if missing_request.status %>
              Закрыто
            <% else %>
              Открыто
            <% end %>
          </td>
          <td><%= link_to 'Просмотреть', missing_request %></td>
          <td><%= link_to 'Редактировать', edit_missing_request_path(missing_request) %></td>
          <td><%= link_to 'Закрыть', close_missing_request_path(missing_request), :method => :post   %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'Создать', new_missing_request_path, class: "btn btn-primary" %>
</div>
