<div class="panel panel-default">
  <p id="notice"><%= notice %></p>

  <dl class="row">
    <dt class="col-sm-1">Текст:</dt>
    <dd class="col-sm-1"><%= @missing_request.text %></dd>
  </dl>

  <dl class="row">
    <dt class="col-sm-1">Комментарий:</dt>
    <dd class="col-sm-1"><%= @missing_request.comment %></dd>
  </dl>

  <dl class="row">
    <dt class="col-sm-1">Статус:</dt>
    <dd class="col-sm-1">
      <% if @missing_request.status %>
        Закрыто
      <% else %>
        Открыто
      <% end %>
    </dd>
  </dl>

  <%= link_to 'Редактировать', edit_missing_request_path(@missing_request), class: "btn btn-info" %>

  <%= link_to 'Назад', missing_requests_path, class: "btn btn-info back-button" %>
</div>
