.login-panel {
  width: 350px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

div.login-panel .btn-primary {
  position: relative;
  left: 40%;
}

.register-button {
  position: relative;
  left: 28%;
  margin-bottom: 20px;
}
